.title {
    margin: auto;
    text-align: center;
    /* we need the shinn font */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    width: 50%;
    margin-bottom: 30px;

}

th, td {
    padding: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;

}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}

/* .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
  } */

.input-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-dropdown select {
    appearance: none;
    font-size: 1.15rem;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
}
