/* HTML: <div class="loader"></div> */
.loader {    
    margin-right: 10px;
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%; 
    background:
      radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
      radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
      radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
      #ccc;
    background-size: 50.5% 220%;
    background-position: -100% 0%,0% 0%,100% 0%;
    background-repeat:no-repeat;
    animation: l9 2s infinite linear;
  }
  @keyframes l9 {
      33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
      66%  {background-position: -100%  66%,0%   66% ,100% 66% }
      100% {background-position:    0% 100%,100% 100%,200% 100%}
  }

.title {
    margin: auto;
    line-height: 0;
    text-align: left;
    /* we need the shinn font */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    width: 50%;
    display: flex;
}

hr {
    margin-bottom: 20px;
}

#reset_button {
    border-width: 0px;
    background-color: white;
    width: 50px;
    height: 50px;
    margin-left: auto;
}

#help_button {
    border-width: 0px;
    background-color: white;
    width: 50px;
    height: 50px;
}

#statistics_button {
    border-width: 0px;
    background-color: white;
    width: 50px;
    height: 50px;
}

#reset_image {
    width: 25px;
    height: 25px;
}

#reset_button:hover {
    background-color: rgb(223, 223, 223);   
}

#help_button:hover {
    background-color: rgb(223, 223, 223);
}

#statistics_button:hover {
    background-color: rgb(223, 223, 223);
}

#menu_image {
    width: 25px;
}

th {
    background-color: #0066B3;
    color: white;
    border: 3px solid;
    padding: 3px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.tdwrong {
    background-color: #787c7e;
    color: white;
    border: 3px solid;
    padding: 1px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 70px;
}

.tdclose {
    background-color: #c9b458;
    color: white;
    border: 3px solid;
    padding: 1px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 70px;
}

.tdright {
    background-color: #6aaa64;
    color: white;
    border: 3px solid;
    padding: 1px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 70px;
}

.table-container {
    margin-top: 20px;
}

#data-table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 2px;
}

/* .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
  } */

.selector {
    width: 70%;
    margin: auto;
}

.input-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.input-dropdown select {
    appearance: none;
    font-size: 1.15rem;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.select2-selection__placeholder {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    
}

.select2-selection__rendered {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;

}

.select2-results {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;

}
